absl-py
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
async-generator
attrs
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
click
click-config-file
cloudpickle
colorama
colorlog
configobj
contourpy
cryptography
cycler
Cython
debugpy
decorator
defusedxml
dill
entrypoints
executing
fastjsonschema
flatbuffers
fonttools
funcy
future
gast
gensim
gif
google-auth
google-auth-oauthlib
google-images-download
google-pasta
googleapis-common-protos
graphviz
grpcio
h11
h5py
idna
importlib-metadata
importlib-resources
inflect
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jieba
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-drawing-pad
jupyterlab-pygments
jupyterlab-widgets
keras
# Keras-Preprocessing
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
more-itertools
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
numexpr
# NumPy 2.x 与 scml_agents 不兼容（numpy.lib.arraysetops 已被移除）
# 需要使用 NumPy 1.x 版本
numpy<2.0
oauthlib
opencv-python
opt-einsum
outcome
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
progressbar2
prometheus-client
promise
prompt-toolkit
protobuf
psutil
pure-eval
py4j
pyasn1
pyasn1-modules
pycparser
pydotplus
Pygments
pyLDAvis
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest-runner
python-dateutil
python-utils
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy
seaborn
selenium
Send2Trash
six
# sklearn
smart-open
sniffio
sortedcontainers
soupsieve
stack-data
stringcase
tabulate
tensorboard
# tensorboard-data-server
# tensorboard-plugin-wit
# tensorflow-datasets
tensorflow
# tensorflow-io-gcs-filesystem
# tensorflow-metadata
termcolor
terminado
# tf-estimator-nightly
threadpoolctl
tinycss2
tornado
tqdm
traitlets
trio
trio-websocket
typeguard
typing
typing_extensions
tzdata
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
wsproto
zipp
pytest
gymnasium
stable-baselines3
# SCML 核心依赖 - 保持最新版本
scml  # 最新版
scml-agents  # 最新版（注意：需要 numpy<2.0）
negmas  # 最新版
loky
dask[distributed]
